<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AZURE_SQL" value="kafkaohl.database.windows.net"/>
    <add key="AZURE_SQL_USERNAME" value="kafkaohladmin"/>
    <add key="AZURE_SQL_PASSWORD" value=""/>
    <add key="AZURE_SQL_DATABASE" value="StackOverflowSmall"/>
    <add key="KAFKA_BROKERS" value=""/>
    <add key="KAFKA_TOPIC" value="badges"/>
  </appSettings>
</configuration>