<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AZURE_SQL" value="kafkaohl.database.windows.net"/>
    <add key="AZURE_SQL_USERNAME" value="kafkaohladmin"/>
    <add key="AZURE_SQL_PASSWORD" value="Passw0rd!"/>
    <add key="AZURE_SQL_DATABASE" value="stackoverflow_small"/>
    <add key="KAFKA_BROKERS" value="13.90.151.209:9092,13.90.145.7:9092"/>
    <add key="KAFKA_TOPIC" value="challenge-1"/>
  </appSettings>
</configuration>